/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@media (min-width: 240px) and (min-height: 320px), (min-width: 320px) and (min-height: 240px){
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  #logo-container{
    margin-top: 7px;
  }

  .light{
    text-align: center;
  }
  @media (min-width: 850px){
    .row_line{
      grid-template-areas: "content content content";
      display: grid;
      grid-template-columns: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr;
    }
  }
  @media (max-width: 850px){
    .row_line{
      grid-template-areas: "content" "content" "content";
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr, 1fr, 1fr;
    }
  }
}