/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@media (min-width: 240px) and (min-height: 320px), (min-width: 320px) and (min-height: 240px){
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  .brand-logo{
    margin-top: 7px;
  }
  #content1{
    grid-area: content1;
  }
  #content2{
    grid-area: content2;
  }
  #content3{
    grid-area: content3;
  }

  ul > li:hover{
    background-color: darkred;
  }

  body > div:nth-child(2){
    background-image: url(background.jpg);
    background-position: center;
    background-position-y: top;
  }
  body > div > form > .row{
    padding: 10px;
    padding-top: 1px;
    border-radius: 10px;
  }
  body > div:nth-child(6){
    background-image: url(background.jpg);
    background-position: center;
    background-position-y: bottom;
  }

  @media (min-width: 850px){
    body > div:nth-child(3) > div{
      grid-template-areas: "content1 content2 content3";
      display: grid;
      grid-template-columns: 1fr, 1fr, 1fr;
      grid-template-rows: 1fr;
    }
  }
  @media (max-width: 850px){
    .row_line{
      grid-template-areas: "content1" "content2" "content3";
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr, 1fr, 1fr;
    }
  }
}